@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.container{
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--default-grey) ;
}

.bkg-img{
    border-radius: 50%;
    position:absolute;
    background-repeat: no-repeat;
    margin-top: 3%;
}

#principal-img{
    width: 30vw;
    height: 30vw;
    background-image: url("../../../assets/principal_circle.jpeg");
    background-size: cover;
    background-position: right bottom;
    left: 5vw;
    z-index: 3;
}
#secundary-img{
    width: 20vw;
    height: 20vw;
    background-image: url("../../../assets/secundary_circle.jpg");
    background-size: cover;
    background-position: right bottom;
    left: 31vw;
    top: 20vw;
    z-index: 2;
}
#final-img{
    width: 15vw;
    height: 15vw;
    background-image: url("../../../assets/final_circle.jpg");
    background-size: cover;
    background-position: -5vw bottom;
    left: 49vw;
    top: 12vw;
    z-index: 1;
}
#welcome-text{
    position: absolute;
    top: 35%;
    left: 5vw;
}

#welcome-text > h1{
    font-family: "Allura", cursive, 'Trebuchet MS', 'Lucida Sans Unicode';
    font-size: 104px;
    color:var(--default-blue);
}
#welcome-text > h3{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 26px;
    color: var(--secundary-title);
}
app-card{
    z-index: 4;
    width: 435px;
    float: right;
    align-self: end;
    margin-block: auto;
    margin-right: 5vw;
}
#inputs-fields{
    align-content: center;
    display: grid;
    row-gap: 15px;
}
#forget-password{
    text-align: center;
    font-family:var(--text-font-family);
    color: var(--secundary-title);
    cursor: pointer;
}
.fadeIn{
    animation: fadeIn 6s forwards;
}
.fadeOut{
    animation: fadeOut 2s forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        display: block;
    }
}


    