<main class="container">
    <div id="bkg-img-container">
        <div class="bkg-img" id="principal-img"></div>
        <div class="bkg-img" id="secundary-img"></div>
        <div class="bkg-img" id="final-img"></div>
    </div>
    <div id="welcome-text">
        <h1>O seu sistema de RH!</h1>
        <h3>Para aqueles que buscam praticidade</h3>
        <h3>Para aqueles que buscam organização</h3>
        <h3>Para aqueles que buscam o melhor sistema de RH</h3>
    </div>
    <div id="login-card">
        <h1 id="logo">HR System</h1>
        <div id="inputs-fields">
            <input type="text" class="login-input" placeholder="Email de acesso">
            <input type="password" class="login-input" placeholder="Senha de acesso">
        </div>
        <button id="login-button">Entrar</button>
        <div>
            <h5 href="youtube.com" id="forget-password">Esqueceu a senha?</h5>
        </div>
    </div>
</main>