@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.container{
/*Display stuff*/
    display: flex;
    flex-direction: column;
/*Box model stuff*/
    height: 100%;
    background-color: var(--default-grey) ;
}

.bkg-img{
/*Positioning stuff*/
    position:absolute;
/*Box model stuff*/
    margin-top: 3%;
    border-radius: 50%;
    background-repeat: no-repeat;
}

#principal-img{
/*Positioning stuff*/
    left: 5vw;
    z-index: 3;
/*Box model stuff*/
    width: 30vw;
    height: 30vw;
    background-image: url("../../../assets/principal_circle.jpeg");
    background-position: right bottom;
    background-size: cover;
}
#secundary-img{
/*Positioning stuff*/
    left: 31vw;
    top: 20vw;
    z-index: 2;
/*Box model stuff*/
    width: 20vw;
    height: 20vw;
    background-image: url("../../../assets/secundary_circle.jpg");
    background-position: right bottom;
    background-size: cover;
}
#final-img{
/*Positioning stuff*/
    left: 49vw;
    top: 12vw;
    z-index: 1;
/*Box model stuff*/
    width: 15vw;
    height: 15vw;
    background-image: url("../../../assets/final_circle.jpg");
    background-position: -5vw bottom;
    background-size: cover;
}
#welcome-text{
/*Positioning stuff*/
    position: absolute;
    left: 5vw;
    top: 35%;
}

#welcome-text > h1{
/*Typography stuff*/
    font-family: "Allura", cursive, 'Trebuchet MS', 'Lucida Sans Unicode';
    font-size: 104px;
    color:var(--default-blue);
}
#welcome-text > h3{
/*Typography stuff*/
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 26px;
    color: var(--secundary-title);
}
app-card{
/*Display stuff*/
    align-self: end;
/*Positioning stuff*/
    z-index: 4;
/*Box model stuff*/
    width: 435px;
    margin-right: 5vw;
/*Miscellaneous*/
    float: right;
    margin-block: auto;
}
#inputs-fields{
/*Display stuff*/
    display: grid;
    align-content: center;
/*Miscellaneous*/
    row-gap: 15px;
}
#forget-password{
/*Display stuff*/
    justify-self: center;
/*Typography stuff*/
    font-family:var(--text-font-family);
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    color: var(--secundary-title);
/*Manipulations stuff*/
    opacity: .6;
/*Miscellaneous*/
    cursor: pointer;
}
.fadeIn{
/*Manipulations stuff*/
    animation: fadeIn 6s forwards;
}
.fadeOut{
/*Manipulations stuff*/
    animation: fadeOut 2s forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        display: block;
    }
}


    