
.container{
/*Display stuff*/
    display: flex;
    flex-direction: column;
/*Box model stuff*/
    height: 100%;
    background-color: var(--default-grey);
}

.bkg-img{
/*Positioning stuff*/
    position:absolute;
/*Box model stuff*/
    margin-top: 3%;
    border-radius: 50%;
    background-repeat: no-repeat;
}
#principal-img{
/*Positioning stuff*/
    left: 10vw;
    z-index: 3;
/*Box model stuff*/
    width: 35vw;
    height: 35vw;
    background-image: url("../../../assets/principal_circle.jpeg");
    background-position: right bottom;
    background-size: cover;
}
#secundary-img{
/*Positioning stuff*/
    left: 50vw;
    top: 20vw;
    z-index: 2;
/*Box model stuff*/
    width: 25vw;
    height: 25vw;
    background-image: url("../../../assets/secundary_circle.jpg");
    background-position: right bottom;
    background-size: cover;
}
#final-img{
/*Positioning stuff*/
    left: 70vw;
    top: 5vw;
    z-index: 1;
/*Box model stuff*/
    width: 15vw;
    height: 15vw;
    background-image: url("../../../assets/final_circle.jpg");
    background-position: -5vw bottom;
    background-size: cover;
}
app-card{
/*Positioning stuff*/
    z-index: 4;
/*Box model stuff*/
    width: 435px;
    margin: auto;
    border-radius: 3px;
}
::ng-deep
app-card #card{
/*Miscellaneous*/
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.text{
/*Typography stuff*/
    font-family:var(--text-font-family);
    text-align: center;
}
#welcome-text{
/*Typography stuff*/
    font-weight: bolder;
}
#tooltip-text{
/*Display stuff*/
    justify-self: center;
/*Box model stuff*/
    width: 80%;
/*Typography stuff*/
    font-size: 14px;
    color: var(--secundary-title);
}
#inputs-fields{
/*Display stuff*/
    display: grid;
/*Miscellaneous*/
    row-gap: 15px;
}
app-input{
/*Display stuff*/
    justify-self: center;
/*Box model stuff*/
    width: 80%;
}
app-button{
/*Display stuff*/
    justify-self: center;
/*Box model stuff*/
    width: 80%;
}
    