<main class="container">
  <div id="bkg-img-container">
      <div class="bkg-img" id="principal-img"></div>
      <div class="bkg-img" id="secundary-img"></div>
      <div class="bkg-img" id="final-img"></div>
  </div>
  <app-card>
      <app-logo></app-logo>
      <h2 class="text" id="welcome-text">Olá {{name}}, seja bem vindo!</h2>
      <h3 class="text" id="tooltip-text">Para dar início a sua jornada no HR System defina sua senha</h3>
      <div id="inputs-fields">
          <app-input [type]="passwordType" placeholder="Senha de acesso"></app-input>
          <app-input [type]="passwordType" placeholder="Confirmar Senha"></app-input>
      </div>
      <app-button text="Definir Senha"></app-button>
  </app-card>
</main>